.navbar-link:hover{
    transition: all 0.5s cubic-bezier(0.4, 0, 6, 1);
    color: #3a0ca3;
    font-weight: 500;
}

.sign-in:hover {
    transition: all 0.1s ease-in-out;
    background-color: #7A3BDF;
    color: white;
}

.sign-up:hover {
    transition: all 0.2s ease-out;
    color:#ffd4e9;
} 

.first-btn:hover{
    transition: all 0.3s ease;
    background-color: #ffd771;
    border: 3.5px solid #ffd876;
}

.second-btn:hover{
    transition: all 0.3s ease-in;
    background-color: #ff9105;
    color: white;
}