@media (max-width:991.98px){  

    .grid-container{
    height: 1180px;
    }


    .text{
        margin-top: 80px;
    }

    .cohete img{
        width: 300px;
        top: 280px;
        right: 30px;
    }

    .illustration{
        background-image: url(./assets/img/background\ register.svg);

    }

    .man{
        top: 200px;
        right: 130px;
    }

    .girl{
        display: none;
    }
}