*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.grid-container{
    display: grid;
    grid-template-areas:
    "register illustration"
    ;
    /* grid-template-columns: 768px; */
    grid-template-rows: 683px;

}

.register{
    grid-area: register;
    padding: 5rem 0 0 3rem;
}

.logo img{
    height: 50px;
}

.illustration{
    grid-area: illustration;
    width: 780px;
}

.illustration{
    background-image: url(./assets/img/background-register.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.register-section{
    display: flex;
    border: 2px solid red;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 450px;
    gap: 10px;

}

.form-register{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

.form-register label{
    color: orange;
    font-size: 16px;
}

.form-register input{
    padding: 10px 20px;
    width: 300px;
    height: 40px;
    border-radius: 13px;
    outline: none;
    border: none;
    background-color: #dd7272;
    margin: 0 0 12px;
}