* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

/* NAVBAR */

.header {
    height: 80px;
    width: 100%;
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:0px 11px 24px -5px rgba(0, 0, 0, 0.16);
    position: relative;
}

 .header img {
    height:53px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 55px;
}

.navbar-link {
    text-decoration: none;
    color: #0b1038;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.5s cubic-bezier(0.4, 0, 6, 1);
}

.register ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.register-link {
    text-decoration: none;
    color: #040824;
    font-weight: 500;
    font-size: 14px;
}

.sign-in {
    border: 3px solid #7A3BDF;
    border-radius: 2rem;
    padding: 4px 21px;
    transition: all 0.1s ease-out;
}

.sign-up {
    background: linear-gradient(164deg, #ffd4e9 0%, #7a3bdf 80%);
    border-radius: 2rem;
    padding: 7px 31px;
    color: white;
    transition: all 0.4s ease-out;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/background-home.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#hero {
    max-width: 1366px;
    display: flex;
    padding: 40px 0px;
    width: 90%;
    justify-content: space-around;
}

.section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.section-info h1 {
    font-family: 'fredoka one';
    font-size: 50px;
    text-transform: uppercase;
    color: #290D60;
}

.span-title {
    font-family: 'fredoka one';
    background: linear-gradient(133deg, #ff9105 12%, #3a0ca3 87%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.section-info p {
    font-size: 18px;
    max-width: 560px;
}

.button-container{
    width: 450px;
    display: flex;
    gap: 20px;
    justify-content: center;

}

.button-container a{
    padding: 5px 30px;
    text-decoration: none;
    border: 3.5px solid #FFC01C;
    border-radius: 13px;
    font-size: 20px;
    font-weight: 600;
}

.first-btn {
    background-color: #FFC01C;
    color: #191001;   
}

.second-btn {
    background-color: white;
    color: #191001;
}

.hero-img {
    width: 390px;
    margin: 0rem 1rem;
}

.info-text {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1000px;
    text-align: center;
}

/* CARDS SECTION */

#course{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 70px 0px;
    width: 95%;

}

#course h2{
    text-transform: uppercase;
    font-size: 30px;
    color:#040824;
    font-weight: 600;
}

#course span {
    border: 0.1px solid #3a0ca3;
    background-color: #3a0ca3;
    border-radius: 40px;
    padding: 0px 13px;
    color: white;
    font-size: 28px;
}

#course p {
    font-size: 18px;
}

.cards-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 320px;
    perspective: 1000px;
    background-color: transparent;
}

.flip-card-inner {
    position: relative;
    width: 320px;
    height: 460px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 28px;
    box-shadow: 8px 12px 20px rgba(0, 0, 0, 0.15);
}

.card-front{
    padding: 3rem 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.card-front img{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 290px;
    height: 250px;
    padding: 1rem 0rem;
}

.card-front h3{
    font-size: 25px;
    font-weight: 500;
}

.card-front hr {
    width: 230px;
    margin: auto;
    border: 0.7px solid #ff9105;
    border-radius: 20px;
}

.card-front p {
    padding: 1rem 0rem;
}

.card-back{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    text-align: start;
    padding: 2rem 3rem;
}

.button-card{
    text-decoration: none;
    background: rgb(255,192,28);
    background: linear-gradient(90deg, rgba(255,192,28,1) 0%, rgba(255,145,5,1) 80%);
    border-radius: 20px;
    color: white;
    font-weight: 600;
    padding: 5px 30px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.17);
    cursor: pointer;
}

.purple{
    background: rgb(122,59,223);
    background: linear-gradient(90deg, rgba(122,59,223,1) 0%, rgba(17,26,111,1) 100%);
}

.card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}
