* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.header{
    height: 80px;
    width: 100%;
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:0px 11px 24px -5px rgba(0, 0, 0, 0.16);
}

 .header img{
    height:53px;
}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 55px;
    /* border: 3px solid red; */
}

.navbar-link{
    text-decoration: none;
    color: #0b1038;
    font-weight: 400;
    font-size: 16px;
}

.register ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

.register-link{
    text-decoration: none;
    color: #040824;
    font-weight: 500;
    font-size: 14px;
}

.sign-in{
    border: 3px solid #7A3BDF;
    border-radius: 2rem;
    padding: 4px 21px;
}

.sign-up{
    background: rgb(255,212,233);
    background: linear-gradient(164deg, rgba(255,212,233,1) 0%, rgba(122,59,223,1) 80%);
    border-radius: 2rem;
    padding: 7px 31px;
    color: white;
}